body {
    text-align:end;
    color:black
}

h1, h2, h3, h4, h5, h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:justify;
    color:black
}

p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    color: black;
}

li {
    text-align:justify;
}

